
@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">

                @{
                    var pu = System.Security.Claims.ClaimsPrincipal.Current.FindFirst("preferred_username");
                    var ea = System.Security.Claims.ClaimsPrincipal.Current.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress");
                    var username = pu == null ? ea.Value : pu.Value;
                }

                Hello, @(username)!
            </li>
            <li>
                @Html.ActionLink("Switch User", "SignIn", "Account")
            </li>
        </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
