
@{
    ViewBag.Title = "Mail";
}

<h2>Office 365 Mail API</h2>

<table class="table table-striped table-bordered table-condensed table-hover">
    <tr>
        <th class="claim-type claim-data claim-head">From</th>
        <th class="claim-data claim-head">Subject</th>
        <th class="claim-data claim-head">Sent</th>
        <th class="claim-data claim-head">Preview</th>
    </tr>

    @foreach (Newtonsoft.Json.Linq.JObject mail in ViewBag.Mails)
    {
        <tr>
            <td class="claim-type claim-data">@((string)mail["From"]["EmailAddress"]["Name"])</td>
            <td class="claim-data">@((string)mail["Subject"])</td>
            <td class="claim-data">@((string)mail["DateTimeSent"])</td>
            <td class="claim-data">@((string)mail["BodyPreview"] + "...")</td>
        </tr>
    }
</table>